<?xml version="1.0"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="constr" connectionString="Data Source=DESKTOP-VJ98U6A;Initial Catalog=Pharmacy;Integrated Security=True;Encrypt=True;TrustServerCertificate=True" />
    <add name="Medical_Store_Management_SoftWare.Properties.Settings.PharmacyConnectionString"
      connectionString="Data Source=DESKTOP-VJ98U6A;Initial Catalog=Pharmacy;Integrated Security=True;Encrypt=True;TrustServerCertificate=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
</configuration>
